body
{
background-color:#eee;
text-align:center;
font-family:'Open Sans',sans-serif;
margin:70px 0px 0px 0px;
}
a
{
text-decoration:none;
}
form,input,textarea
{
outline:none;
border:none;
margin:0px;
padding:0px;
font-family:'Open Sans',sans-serif;
}
textarea
{
padding:10px;
}
form
{
width:100%;
}
input.text
{
width:200px;
height:30px;
text-indent:10px;
}
input.button
{
width:100px;
height:30px;
cursor:pointer;
}
input.button:hover
{
background-color:#5393b3;
color:#fff;
}
div,a,input,form,hr,textarea
{
float:left;
}
div#header
{
width:100%;
height:60px;
position:fixed;
top:0px;
left:0px;
background-color:#fff;
}
div#headerinr
{
width:960px;
height:60px;
line-height:60px;
color:#333;
float:none;
margin:0px auto;
text-align:left;
}
a#headerlogo
{
width:40px;
height:40px;
line-height:40px;
margin:10px;
background-color:#5393b3;
color:#fff;
}
a.threaditem
{
line-height:40px;
float:none;
color:#333;
}
a.threaditem:hover
{
color:#5393b3;
}
div#content
{
width:100%;
}
div#contentinr
{
width:960px;
float:none;
margin:0px auto;
}
div.inputlabel
{
height:30px;
margin-right:10px;
line-height:30px;
color:#333;
}
hr.contenthr
{
width:100%;
height:1px;
background-color:#ccc;
margin:10px 0px;
border:none;
}
div#error
{
width:100%;
height:30px;
line-height:30px;
position:fixed;
bottom:0px;
left:0px;
color:#fff;
background-color:#f00;
}
div.board
{
width:940px;
padding:10px;
background-color:#fff;
}
a.boardtopbar
{
width:920px;
color:#333;
padding:10px;
font-size:15px;
cursor:pointer;
line-height:20px;
text-align:left;
background-color:#f2f2f2;
}
a.boardtopbar:hover
{
color:#fff;
background-color:#5393b3;
}
div.boardreply
{
width:940px;
}
a.replybutton
{
padding:5px 10px;
background-color:#5393b3;
float:right;
color:#fff;
font-size:13px;
}
font.votes
{
float:right;
}
div.boardtext
{
width:920px;
padding:10px;
text-align:left;
font-size:14px;
}
textarea.text
{
width:940px;
height:200px;
}